@import url(./reset.css);

#container {
  max-width: 600px;
  min-width: 320px;
  height: 100vh;

  margin: 0 auto;

  padding: 1rem 2rem;
}

/*Header*/

.wrapper-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.city {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.6rem;
}

.temperature {
  font-size: 4rem;
  font-weight: 600;
  line-height: 7.5rem;
}

.climate {
  display: inline-block;

  background: #353361;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  text-transform: capitalize;
  padding: 1rem 1.3rem;
}

.header-icon img {
  width: 100%;
}

/*Header Bottom*/
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 6rem;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

/*Section Hours*/
.wrapper-sunrise-sunset {
  display: flex;
  justify-content: space-between;
}

.wrapper-hours {
  margin-top: 6rem;

  position: relative;
}

.wrapper-sunrise,
.wrapper-sunset {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper-sunrise p,
.wrapper-sunset p {
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper-sunset {
  position: absolute;
  bottom: 2.6rem;
  right: 0;
}

/*Section Wrapper Today*/
#today {
  margin-top: 6rem;
}

.wrapper-today {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;

  /* visual styling */
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  gap: 10px;

  padding-left: 10px;
  margin-top: 3rem;
}

.today-hours {
  scroll-snap-align: start;

  /* visual styling */
  width: 80px;
  flex-shrink: 0;
  margin: 1.6rem 0;
}

/*Week*/
.wrapper-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;

  margin-top: 3rem;
  padding-bottom: 4rem;
}

.week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.week p,
.today-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.temp-max,
.today-title {
  color: #59569d;
}

body {
  position: relative;
}

/*Nav*/
.nav {
  height: var(3rem);
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: auto;
  position: fixed;
  bottom: 10px;
  right: 15px;

}

.nav-toggle {
  font-weight: 600;

  background-color: #353361;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle i {
  font-size: clamp(1.2rem, 10vw, 2rem);
}

.nav-toggle:hover {
  color: var(--first-color);
}

.nav-btns {
  display: flex;
}

.nav-toggle {
  font-size: 2rem;
  cursor: pointer;
}

@media screen {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;

    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.nav-item a i{
  font-size: clamp(1.2rem, 10vw, 2rem);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.nav-link:hover {
  color: #353361;
}


.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
}

.nav-close:hover {
  color: #353361;
}
/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
.today-section {
  display: flex;
  justify-content: space-between;
}
.today-img{
  margin-left: 1rem;
}
.today-temp {
  margin-left: 1.5rem;
}
.temp-min {
  position: absolute;
  margin-left: 400px;
}
.week img {
  position: absolute;
  margin-left: 250px;
}